<ion-view view-title="Account">
  <ion-content>
    <div class="text-center account-bg">
      <img class="profile-picture" menu-close src="img/avatar.jpg">
      <h4 class="stable">eyeQueue User</h4>
    </div>

    <div class="list text-left">
      <div class="item item-icon-left">
        <i class="icon ion-android-chat"></i>
        Review
        <span class="pull-right">20</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-photos"></i>
        Photo
        <span class="pull-right">25</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-android-people"></i>
        Friends
        <span class="pull-right">35</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-android-folder-open"></i>
        Collections
        <span class="pull-right">69</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-heart"></i>
        Liked
        <span class="pull-right">55</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-location"></i>
        Check-in
        <span class="pull-right">25</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-paper-airplane"></i>
        Wish list
        <span class="pull-right">25</span>
      </div>
    </div>
  </ion-content>
</ion-view>
