<ion-view view-title="{{title}}" hide-back-button="false" class="stable-bg">
  <ion-content>
    <div class="item row-no-padding light-bg">
      <img class="full-image" src="img/r1.jpg">
      <span class="overlay-rating light">5.0</span>
      <div class="padding">
        <h2>Sumo BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </div>
    </div>
    <div class="row static stable-bg">
      <div class="col">
        <span class="static-total">154</span>
        <span class="static-label">Likes</span>
      </div>
      <div class="col">
        <span class="static-total">200</span>
        <span class="static-label">Comments</span>
      </div>
      <div class="col">
        <span class="static-total">169</span>
        <span class="static-label">Check in</span>
      </div>
      <div class="col">
        <span class="static-total">210</span>
        <span class="static-label">Images</span>
      </div>
    </div>
    <div class="list">
      <div class="item stable-bg">
        <i class="icon ion-calendar"></i>
        07:00AM - 10:00PM
      </div>
      <div class="icon item stable-bg">
        <i class="ion-social-usd"></i>
        17 - 25
      </div>
      <div class="icon item stable-bg">
        <i class="ion-ios-location"></i>
        View on map
      </div>
      <div class="icon item stable-bg">
        <i class="ion-chatbox"></i>
        Information detail
      </div>
    </div>
  </ion-content>
</ion-view>
