<ion-view view-title="{{title}}" hide-back-button="false" class="stable-bg">
  <ion-content>
    <div class="item row-no-padding light-bg">
      <img class="full-image" src="img/r1.jpg">
      <span class="overlay-rating light">5.0</span>
      <div class="padding">
        <h2>{{meal.name}}</h2>
        <p>
          <i class="assertive"></i>
          {{meal.description}}
        </p>
      </div>
    </div>
    <div class="list">
      <div class="item stable-bg">
        <i class="icon ion-calendar"></i>
        Prep Time: {{meal.prepTime}}s
      </div>
      <div class="icon item stable-bg">
        <i class="ion-social-usd"></i>
        {{meal.price}}
      </div>
      <div class="icon item stable-bg">
        <i class="ion-ios-cart"></i>
        <button ion-button full color="primary" ng-click="order(meal)">Order</button>
      </div>
    </div>
    <div>Order Number: {{orderNumber}}</div>
  </ion-content>
</ion-view>
