<ion-view view-title="Login" hide-nav-bar="true" class="stable-bg">
  <ion-content class="assertive-bg">
    <div class="padding text-center">
      <h1>
        <i class="stable ion-android-restaurant"></i>
      </h1>
      <h2 class="stable">ionFood</h2>
      <p class="stable">Search you restaurant</p>
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Your name">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-stable" ui-sref="tab.home">
        Register
      </button>
    </div>
    <div class="padding row">
      <div class="col">
        <span class="stable">Forgot password?</span>
      </div>
      <div class="col">
        <a ui-sref="login" class="stable">Have account? Login</a>
      </div>
    </div>
  </ion-content>
</ion-view>
