<ion-view view-title="Home">
  <ion-content>

    <div class="list">
      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r1.jpg">
        <span class="overlay-rating light">5.0</span>
        <h2>Sumo BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r2.jpg">
        <span class="overlay-rating light">4.9</span>
        <h2>Kichi Kichi</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r3.jpg">
        <span class="overlay-rating light">4.5</span>
        <h2>Highland coffee</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r4.jpg">
        <span class="overlay-rating light">4.0</span>
        <h2>Fresh garden</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r5.jpg">
        <span class="overlay-rating light">3.2</span>
        <h2>Chipa Chipa BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r6.jpg">
        <span class="overlay-rating light">3.0</span>
        <h2>The Kafe</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>

      <a class="item" ui-sref="detail">
        <img class="full-image" src="img/r7.jpg">
        <span class="overlay-rating light">5.0</span>
        <h2>Vuvuzela</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>
