<ion-view view-title="Search">
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear">
        <i class="ion-android-navigate"></i>
      </button>
    </div>
    <div class="stable-bg padding search-result">
      <div class="pull-left left-block">
        <span class="static-total">100</span>
        <span class="static-label">results</span>
      </div>
      <a class="btn btn-clear positive pull-right right-block" ui-sref="tab.search_filter">Filters</a>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r1_thumb.jpg">
        <h2>Sumo BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r2_thumb.jpg">
        <h2>Kichi Kichi</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r3_thumb.jpg">
        <h2>Highland coffee</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r4_thumb.jpg">
        <h2>Fresh garden</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r5_thumb.jpg">
        <h2>Chipa Chipa BBQ</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r6_thumb.jpg">
        <h2>The Kafe</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ui-sref="detail">
        <img ng-src="img/r7_thumb.jpg">
        <h2>Vuvuzela</h2>
        <p>
          <i class="ion-ios-location assertive"></i>
          29 Thái Phiên Quận Hai Bà Trưng.
        </p>
        <p>
          <i class="ion-android-favorite"></i> 129
          <i class="ion-chatbox"></i> 200
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
