
<ion-tabs class="tabs-background-dark tabs-color-light">

  <!-- Home Tab -->
  <ion-tab title="HOME" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- LOCATION Tab -->
  <ion-tab title="LOCATION" ui-sref="tab.location">
    <ion-nav-view name="tab-location"></ion-nav-view>
  </ion-tab>

  <!-- MEALS Tab -->
  <ion-tab title="MEALS" ui-sref="tab.meals">
    <ion-nav-view name="tab-meals"></ion-nav-view>
  </ion-tab>

  <!-- RESTAURANT Tab -->
  <ion-tab title="RESTAURANT" ui-sref="tab.restaurant">
    <ion-nav-view name="tab-restaurant"></ion-nav-view>
  </ion-tab>

</ion-tabs>


